* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1a1a1a;
    transition: 0.3s;
}

:root {
    --bg-geral: #ffffff;
    --bg: #F3F3F3;
    --bg-border: #BCBCBC;
    --color-principal: #33596C;
    --color-texto: #ffffff;
    --color-int: #F6F6F6;
    --color-hover: #314d5c;
    --color-texto-p: #414141;

    --fonte-title: clamp(25px, 1vw, 26px);
    --fonte-sub-title: clamp(15px, 1vw, 20px);
    --fonte-min-p: clamp(11px, 1vw, 15px);
}

body.dark {
    --bg-geral: #1e1e1e;
    --bg: #262626;
    --bg-border: #3d3d3d;
    --color-principal: #3b4347;
    --color-texto: #f5f5f5;
    --color-int: #292929;
    --color-hover: #314d5c;
    --color-texto-p: #e0e0e0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-geral);
}


.conteiner-principal {
    margin: 0 10px;
    width: 100%;
    max-width: 600px;
    /* height: 100%; */
    /* max-height: 600px; */
    padding: 20px;
    background: var(--bg);
    border: 1px solid var(--bg-border);
    border-radius: 20px;
}

#box-inicio {
    display: block;
}

.box-title {
    background: var(--color-principal);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-title h1 {
    font-size: var(--fonte-title);
    color: var(--color-texto);
    text-align: left;
}

.box-title button {
    background: transparent;
    border: none;
    color: var(--color-texto);
}

.box-valor {
    width: 100%;
    padding: 10px 0px;
}

.box-valor h2 {
    color: var(--color-texto-p);
}

.box-valor input {
    padding: 10px;
    background: var(--color-int);
    border: 1px solid var(--bg-border);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: var(--fonte-sub-title);
    font-weight: 700;
    color: var(--color-texto-p);
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box-para-converter {
    background: var(--color-int);
    border: 1px solid var(--bg-border);
    border-radius: 10px;

    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.box-para-converter .box-sigle div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.box-para-converter .box-sigle div img {
    width: 36px;
    height: 25px;
}

.box-para-converter .box-sigle div h3 {
    font-size: var(--fonte-title);
    color: var(--color-texto-p);
}

.box-para-converter .box-sigle p {
    font-size: var(--fonte-sub-title);
    color: var(--color-texto-p);
}

.box-para-converter .box-converter-set {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box-para-converter .box-converter-set p,
.box-para-converter .box-converter-set span {
    font-size: var(--fonte-sub-title);
    color: var(--color-texto-p);

}


.box-para {
    background: var(--color-int);
    border: 1px solid var(--bg-border);
    border-radius: 10px;

    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.box-para:hover,
.box-para-converter:hover {
    cursor: pointer;
    transform: scale(0.99);
}


.box-para .box-sigle-p div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}


.box-para .box-sigle-p div img {
    width: 36px;
    height: 25px;
}

.box-para .box-sigle-p div h3 {
    font-size: var(--fonte-title);
    color: var(--color-texto-p);
}

.box-para .box-sigle-p p {
    font-size: var(--fonte-sub-title);
    color: var(--color-texto-p);
}

.box-para .box-para-set {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box-para .box-para-set p,
.box-para .box-para-set span {
    font-size: var(--fonte-sub-title);
    color: var(--color-texto-p);
}

.box-result {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.box-result .box-res-1,
.box-result .box-res-2 {
    background: var(--color-principal);
    color: var(--color-texto);
    padding: 10px;
    border-radius: 9px;
}

.box-result .box-res-1 p,
.box-result .box-res-1 h3,
.box-result .box-res-2 p,
.box-result .box-res-2 h3 {
    background: var(--color-principal);
    color: var(--color-texto);
    font-weight: 500;
    font-size: var(--fonte-sub-title);
}

.box-result .box-res-1 p span,
.box-result .box-res-1 h3 span,
.box-result .box-res-2 p span,
.box-result .box-res-2 h3 span {
    background: var(--color-principal);
    color: var(--color-texto);
    font-weight: 300;
    font-size: var(--fonte-sub-title);
}


.box-haset {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-int);
    border: 1px solid var(--bg-border);
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: var(--fonte-sub-title);
    color: var(--color-texto-p);
}

.btn-converter {
    background: var(--color-principal);
    border: 1px solid var(--bg-border);
    border-radius: 10px;
    width: 100%;
    height: 60px;
    color: var(--color-texto);
}

.btn-converter:hover {
    cursor: pointer;
    transform: scale(0.99);
}


.conteiner-principal {
    margin: 0 10px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: var(--bg);
    border: 1px solid var(--bg-border);
    border-radius: 20px;
}


#lista-moedas {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    scrollbar-color: var(--color-principal) transparent;
}


.item-moeda {
    width: 100%;
    max-width: 540px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--bg-border);
    border-radius: 6px;
    margin-bottom: 8px;
    background: var(--bg);
    cursor: pointer;
}

.item-moeda.selected {
    background: var(--bg-border);
    transform: scale(0.998);
}

.flag {
    width: 36px;
    height: 25px;
}

.sigla {
    font-weight: bold;
    color: var(--color-texto-p);
}

.nome {
    color: var(--color-texto-p);
    font-size: 14px;
}